body {
    background-color: red;
    color: black;
    background-image: url('https://i.pinimg.com/236x/1c/4f/07/1c4f073cdf23c11ce234abf416ec2a87.jpg');
    background-size: cover;
}
button {
    background-color: black;
    color: red;
}
@media (max-width: 600px) {
    body {
        background-size: cover;
        text-align: center;
    }

    .container {
        width: 90%;
        padding: 15px;
    }

    button {
        width: 100%;
        font-size: 16px;
    }

    input, select {
        width: 100%;
        font-size: 16px;
    }
}


@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        width: 80%;
    }

    button {
        font-size: 18px;
    }
}

@media (min-width: 1025px) {
    .container {
        width: 50%;
    }
}
